.Products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;

  .Product {
    display: flex;
    flex-direction: column;

    .ProductHeader {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px 5px;

      .ProductName {
        font-size: 16px;
      }
    }
    .ImageContainer {
      position: relative;
      display: inline-block;
      .ProductImage {
        width: 100%;
      }
      .CartBtn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
  }
}
