.Products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .Product {
    display: flex;
    flex-direction: column;

    .ImageContainer {
      position: relative;
      display: inline-block;
      .ProductImage {
        width: 100%;
      }
      .CartBtn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;

        .Icon {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
